@import url('/SCSS/animations.scss');
@import "/SCSS/normalize.css";

@media screen and (max-width: 450px){
    #projets{
        width: 100%;
        .btn-projet{
            border-radius: 20px !important;
            width: 98% !important;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
@media screen and (min-width: 982px)  {
    #projets{
        width: 60% !important;
    }
}

main, body, html{
    height: 100%;
    width: 100%;
}

html{
    position: fixed;
    background-color: #fefefefe;
}
.fa-arrow-left-long{
    color: #173c8d;
    font-size: 25px;
    padding: 10px;
}
.fa-arrow-left-long:hover{
    transform: scale(1.2);
}
.roboto{
    font-family: 'Roboto';
    font-weight: 300;
}
#projets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 70%;

    .fa-xmark{
        background-color: #fefefefe;
        border: #fefefefe;
    }

    a{
        text-decoration: none;
    }

    .btn-projet{
        width: 150px;
        height: 150px;
        background-color: #173c8d;
        border-radius: 50%;
        margin: 15px;
        display: flex;
        align-items: center;

        h3{
            color:#fefefefe ;
            font-family: 'Roboto';
            font-size: 22px;
            font-weight: 100;
        }

        .open-button{
            text-align: center;
            width: 100%;
        }
        .login-popup{
            width: 0%;
        }

    }
}


  /* Popup style */

    .login-popup{
        position: relative;
        width: 100%;
        text-align: center;
    }
    .form-popup{
        display: none;
        position: fixed;
        left: 45%;
        top: 5%;
        transform: translate(-45%, 5%);
        border-radius: 30px;
        z-index: 9;
    }

  .form-container{
    padding: 20px;
    background-color: #fefefefe;
    border: #173c8d solid 2px;
    border-radius: 30px;
    font-family: 'Roboto';

    .title{
        color: #173c8d !important;
        font-weight: bold !important;
    }

    img{
        border-radius: 20px 20px 0px 0px;
    }
  }
   .cancel{
    display: flex;
    border: #fefefefe;
    background-color: #fefefefe;
  }
  .form-container .btn:hover
  .open-button:hover{
    opacity: 1;
    background-color: #fefefefe;
  }
  .open-projet{
    text-decoration: none;
    color: #fefefefe;
    background-color: #173c8d;
    border-radius: 20px;
    padding: 10px;
  }
  .open-projet, .img-content{
    object-fit: cover;
    width: 100%;

    img{
        width: 90%;
        height: 50%;
      }
  }
  .cancel{
    width: 15px !important;
    height: 15px !important;
  }

  .popup-description{
    text-align: left;
  }

  ul{
    padding-left: 15px;
  }

.invible{
    display: none;
}
.open-button:hover{
    .invible{
        display:inline;
    }
}

