@import "normalize.css";

main, body, html{
    height: 100%;
    width: 100%;
}

 #block-1,#block-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    i{
        font-size: 20px;
        color:#fefefefe;
    }

    a{
        text-decoration: none;
        font-weight: bold;
        color:black;
    }
    .contact{
        margin: 20px;
    }

    i:hover{
        color: #1e81b0;
    }
 }
#big-block{
    background-color: #173c8d;
    border-radius: 20px;
    //margin: 10%;
    color: black;
    padding-top: 10px;
    height: 75%;
}

// Formulaire

#formulaire{
    color: #fefefefe;
    text-align: center;
    p{
        margin: 0px;
        padding: 5px 0px 5px 0px;
    }
    .btn-form{
        margin: 10px;
        background-color: #fefefefe;
        color: #173c8d;
        border: none;
        width: 100px;
        height: 25px;
        &:hover{
            font-weight: bold;
            transform: scale(1.1);
        }
    }
}