@import "animations.scss";


#bloc-prest{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .blc-prest{
        width: 250px;
        height: 350px;
        margin: 5px;
        border: solid 5px #173c8d;
        background-color: #173c8d;
        border-radius: 20px;

        .title-prestation{
            font-size: 20px;
            color: #fefefefe;
        }

        .illustration{
            height: 50%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }

    }
}

