/*body{
    background-image: url('mountain.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto-Thin';
 }*/
#background-video{
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
 #block-1,#block-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    i{
        font-size: 20px;
        color:black;
    }

    a{
        text-decoration: none;
        font-weight: bold;
        color:black;
    }
    .contact{
        margin: 20px;
    }

    i:hover{
        color: white;
    }
 }
#big-block{
    background-color: rgba(245, 245, 245, 0.4);
    border-radius: 20px;
    margin: 10%;
    color: black;
    padding-top: 10px;

}


// Formulaire

#formulaire{
    #name,#mail, #msg{
        border: none;
        padding: 7px;
        margin: 10px;
        font-size: 16px;
        width: 350px;
        border-radius: 15px;

        label{
            text-align: right;
        }
    }
    #btn-send{
        padding: 3px 15px 3px 15px;
        background-color: white;
        border: none;
        margin: 10px;
    }
    #btn-send:hover{
        background-color: black;
        color: white;

    }
}