

 #block-1,#block-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    i{
        font-size: 20px;
        color:#fefefefe;
    }

    a{
        text-decoration: none;
        font-weight: bold;
        color:black;
    }
    .contact{
        margin: 20px;
    }

    i:hover{
        color: #1e81b0;
    }
 }
#big-block{
    background-color: #173c8d;
    border-radius: 20px;
    margin: 10%;
    color: black;
    padding-top: 10px;

}

// Formulaire

#formulaire{
    color: #fefefefe;

    #name,#mail, #msg{
        border: none;
        padding: 7px;
        margin: 10px;
        font-size: 16px;
        width: 350px;
        border-radius: 15px;

        label{
            text-align: right;
        }
    }
    #btn-send{
        padding: 3px 15px 3px 15px;
        background-color: white;
        color: #173c8d;
        border: none;
        margin: 10px;
        border-radius: 15px;
    }
    #btn-send:hover{
        transform: scale(1.1);
        font-weight: bold;
    }
}