@import "animations.scss";
@import "normalize.css";


main, body, html{
    height: 100%;
    width: 100%;
    overflow: auto;
}


.blue{
    color: #173c8d;
}

.skill h3{
    font-family: 'Roboto';
    font-weight: 400;
    color: #1e81b0;

}
#bloc-prest{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    height: 80%;


    .blc-prest{
        width: 250px;
        height: 350px;
        margin: 5px;
        border: solid 5px #173c8d;
        background-color: #173c8d;
        border-radius: 20px;

        p{
            color: #fefefefe;
        }
        span{
            color: #fefefefe;
        }

        .title-prestation{
            font-size: 20px;
            color: #fefefefe;
        }

        .illustration{
            height: 50%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }

    }
}

