@import "normalize.css";

main, body, html{
  height: 100%;
  width: 100%;
}

.white{
  color: #fefefefe;
}
.blue{
  color:#173c8d;
}
.background{
  background-image: url('lines.jpg');
  object-fit: cover;
  background-attachment: fixed;
  background-size: cover;
}
@font-face {
    font-family: 'Xanh';
    src: url('Xanh.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('Roboto-Thin.ttf');
}

 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes disappear {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

  }


html{
    font-family: 'Roboto-Thin';
 }

 h1{
  font-size: 70px;
  font-family : 'Xanh', cursive ;
  font-weight: 100;
  text-align: center;
}

 .loader{
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    animation: disappear 4s ;
 }

main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

#block-presentation{
    // format

    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 50px;
    margin: 20%;

    h2{
      color:#173c8d;
      font-size: 30px;
    }

    .btn{
        border-radius: 70px;
        background-color: #173c8dba;
        color: #eeeee4;
        border: none;
        width: 180px;
        height: 45px;
        margin: 20px;

        a{
            font-size: 16px;
            color:#eeeee4;
            text-decoration:none;
        }
        &:hover{
          background-color: #173c8d;
          font-weight: 400;
      }
    }

  }
}


@media only screen and (max-width: 400px){
  #block-presentation{
    background-color: transparent;
    padding: 0px !important;
    margin: 0px !important;

    .btn{
      width: 80% !important;
      height: 60px !important;
      margin: 35px !important;
    }
  }

}

